.vscode/**
.vscode-test/**
src/**
.gitignore
tsconfig.json
**/*.map
**/*.ts
.env
node_modules/**
.windsurf/**
.claude/**
.bmad-core
.codebuddy
.gemini
.github
docs/**
extensions/**
*.md
!README.md
release.sh
out/test/**
